$i: 5
@while $i < 200
	.mt-#{$i}
		margin-top: #{$i}px
	.pt-#{$i}
		padding-top: #{$i}px
	.mb-#{$i}
		margin-bottom: #{$i}px
	.pb-#{$i}
		padding-bottom: #{$i}px
	.ml-#{$i}
		margin-left: #{$i}px
	.pl-#{$i}
		padding-left: #{$i}px
	.mr-#{$i}
		margin-right: #{$i}px
	.pr-#{$i}
		padding-right: #{$i}px
	$i: $i + 5