body {
  font-family: Helvetica, Arial, Sans-Serif;
  color: #1a171b; }

.headline-1 {
  color: #1a171b;
  display: block;
  font-size: 80px;
  line-height: 90px;
  font-weight: 300;
  letter-spacing: 10px;
    font-family: Helvetica, Sans-Serif  !important; }
.headline-1.m--red {
    color: #e71d34; }

.headline-2 {
  font-size: 40px;
  line-height: 80px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  z-index: 10000;
  padding-left: 60px;
  text-transform: uppercase;
  color: #fff;
  font-family: Helvetica, Sans-Serif  !important; }

.headline-3 {
  color: #1a171b;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Helvetica, Sans-Serif  !important;
  font-weight: bold; }

.headline-underline-wrapper {
  width: auto; }

.headline-underline {
  position: relative;
  margin-top: 10px;
  width: 100px;
  border-top: 2px solid #1a171b; }
  .headline-underline.m--red {
    border-color: #E20431; }

.headline-3-wrapper {
  width: 673px;
  background-color: #eaebec;
  padding: 10px 60px 10px 60px; }

p {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  color: #1a171b; }

strong {
  font-family: Helvetica, Sans-Serif !important;
  font-weight: bold; }
