/* npsForm.css */
.nps-form .score-options {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.score-option:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.2s;
}